h1 {
  text-align: center;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #D8BBFF;
}

.tileButton {
  text-align: center;
  margin-top: 40px;
}

.tileButton p {
  font-size: x-small;
  padding: 0%;
}

.tileButton button {
  text-align: center;
  border: double;
  font-family: Comic Sans MS;
  font-size: large;
  
}

.tileButton :active {
  background-color: black;
  color: white;
}


.spanContainer {
  text-align: center;
}