h1 {
  text-align: center;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h4 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: x-large;
  animation-name: fade;
  animation-duration: 2s;
}

.fadeIn {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

body {
  background-color: #D8BBFF;
}

.tileButton {
  text-align: center;
}

.tileButton p {
  font-size: x-small;
  padding: 0%;
}

.tileButton button {
  text-align: center;
  border: double;
  font-family: Comic Sans MS;
  font-size: large;
  margin-top: 15px;

  
}

.tileButton :active {
  background-color: black;
  color: white;
}


.spanContainer {
  text-align: center;
}

.tileImage {
  margin: 4px;
  box-shadow: 5px 5px 8px gray;
}

#canvasHolder {
  text-align: left;
}