h1 {
  text-align: center;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: small;
  margin-top: 0;
}

.homepageLink {
  color: black;
}

.homepageLink:hover {
  color: RoyalBlue;
}

.resolutionInput {
  width: 2.5em;
  font-size: larger;
}

.tilingFactorInput {
  width: 2.5em;
  font-size: larger;
}

.comic {
  font-family: Comic Sans MS, -apple-system, BlinkMacSystemFont;
}

.smallText {
  font-size: small;
}

h4 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: x-large;
  animation-name: fade;
  animation-duration: 2s;
}

.slowFade {
  animation: fadein 5s;
}

.fadeIn {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}


@-webkit-keyframes fadein {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}


@keyframes fadein {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

body {
  background-color: #D8BBFF;
}

.tileButton {
  text-align: center;
}

.tileButton p {
  font-size: x-small;
  padding: 0%;
}

.tileButton button {
  text-align: center;
  border: double;
  font-family: Comic Sans MS, -apple-system, BlinkMacSystemFont;
  font-size: large;
  margin-top: 15px;
  background-color: white;

  
}

.tileButton :active, .tileButton .active {
  background-color: black;
  color: white;
}


.centeringDiv {
  text-align: center;
}

.elbowRoom {
  margin-top: 800px;
}

.bottomSpace {
  margin-bottom: 40px;
}

.tileImage {
  margin: 4px;
  box-shadow: 5px 5px 8px gray;
}

#tileCanvasHolder {
  text-align: left;
}

.mosaicCanvasHolder {
  text-align: center;
}

.ldBar svg {
  overflow: visible;
  margin-top: 5px;
}

.ldBar-label {
  color: #383838;
  font-family: Comic Sans MS, -apple-system, BlinkMacSystemFont;
  font-size: 1.5em;
  font-weight: 400;
}

.ldBar path.mainline {
  stroke-width: 10;
  stroke: #606060;
  stroke-linecap: round;
}

.ldBar path.baseline {
    stroke-width: 14;
    stroke: #f1f2f3;
    stroke-linecap: round;
}